<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">

    <link rel="short icon" type="image" href="../img/thecoffeehouse_logo.png">
    <title>The Coffee House</title>
    <style>
        .navbar {
            background-color: white !important;
        }
    </style>
</head>

<body>
    <div class="spinner-overlay">
        <div class="spinner-container">
            <img src="../img/logo_load.jpg" alt="Logo" class="custom-logo">
        </div>
    </div>
    <script src="../script/load.js"></script>
    <div class="top-bar">
        <div class="top-bar-info">
            <div>
                <a href="#">
                    <img src="../img/vector_706a88566eab4f009bed6eea93cd890b.png" alt="">
                    <span>133 Cửa hàng khắp cả nước</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="../img/group_8de276faa50c486b9d485826c506803b.png" alt="">
                    <span>Đặt hàng: 1800.6936</span>
                </a>
            </div>
        </div>
    </div>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./Home.html"><img src="../img/The-Coffee-House-Logo-PNG-2.png" width="200px"
                        height="35px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" aria-current="page" href="#">Cà
                                    phê</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="#">Trà</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="menu">
                                <div class="underline-container">
                                    <a class="nav-link dropdown-toggle fw-bold underline-hover"
                                        href="./collection.html?category=all" id="navbarDropdown" role="button"
                                        aria-expanded="false">
                                        Menu
                                    </a>
                                    <div class="underline"></div>
                                </div>
                                <div class="custom-dropdown">
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=all">Tất
                                            Cả</a></div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=caphe">Cà
                                            Phê</a>
                                        <ul>
                                            <li><a href="./collection.html?category=caphehighlight">Cà Phê
                                                    Highlight</a></li>
                                            <li><a href="./collection.html?category=caphevn">Cà Phê Việt Nam</a>
                                            </li>
                                            <li><a href="./collection.html?category=caphemay">Cà Phê Máy</a></li>
                                            <li><a href="./collection.html?category=coldbrew">Cold Brew</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=tra">Trà</a>
                                        <ul>
                                            <li><a href="./collection.html?category=tratraicay">Trà trái cây</a></li>
                                            <li><a href="./collection.html?category=macchiato">Trà sữa Macchiato</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=cloud">Cloud</a>
                                        <ul>
                                            <li><a href="./collection.html?category=cloudfee">CloudFee</a></li>
                                            <li><a href="./collection.html?category=cloudteamochi">CloudTea Mochi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=hitea">Hi-Tea
                                            Healthy</a>
                                        <ul>
                                            <li><a href="./collection.html?category=hiteatra">Hi-Tea Trà</a></li>
                                            <li><a href="./collection.html?category=hiteadatuyet">Hi-Tea Đá Tuyết</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=traxanh-choco">Trà Xanh - Chocolate</a>
                                        <ul>
                                            <li><a href="./collection.html?category=traxanh">Trà Xanh Tây Bắc</a></li>
                                            <li><a href="./collection.html?category=chocolate">Chocolate</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=daxay">Thức
                                            uống đá xay</a>
                                        <ul>
                                            <li><a href="./collection.html?category=daxayfrosty">Đá xay Frosty</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=banh-snack">Bánh & Snack</a>
                                        <ul>
                                            <li><a href="./collection.html?category=banhman">Bánh mặn</a></li>
                                            <li><a href="./collection.html?category=banhngot">Bánh ngọt</a></li>
                                            <li><a href="">Snack</a></li>
                                            <li><a href="./collection.html?category=banhpastry">Bánh Pastry</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=tainha">Thưởng
                                            Thức Tại Nhà</a>
                                        <ul>
                                            <li><a href="./collection.html?category=caphetainha">Cà phê tại nhà</a></li>
                                            <li><a href="./collection.html?category=chaifresh0da">Chai Fresh Không
                                                    Đá</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="menu">
                                <div class="underline-container">
                                    <a class="nav-link dropdown-toggle fw-bold underline-hover" href="#"
                                        id="navbarDropdown" role="button" aria-expanded="false">
                                        Chuyện Nhà
                                    </a>
                                    <div class="underline"></div>
                                </div>
                                <div class="custom-dropdown menu-blog">
                                    <div class="custom-dropdown-item"><a href="">Coffeeholic</a>
                                        <ul>
                                            <li><a href="">#chuyencaphe</a></li>
                                            <li><a href="">#phacaphe</a></li>

                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="">Teaholic</a>
                                        <ul>
                                            <li><a href="">#phatra</a></li>
                                            <li><a href="">#cauchuyenvetra</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="">Blog</a>
                                        <ul>
                                            <li><a href="">#inthemood</a></li>
                                            <li><a href="">#Review</a></li>
                                            <li><a href="">#HumanofTCH</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./Collection.html?category=all">Tất Cả</a></li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=caphe">Cà Phê</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=caphehighlight">Cà Phê Highlight</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=caphevn">Cà Phê Việt Nam</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=caphemay">Cà Phê Máy</a></li>
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=coldbrew">Cold Brew</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=tra">Trà</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=tratraicay">Trà trái cây</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=macchiato">Macchiato</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=cloud">Cloud</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=cloudfee">CloudFee</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=cloudteamochi">CloudTea Mochi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=hitea">Hi-Tea Healthy</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=hiteatra">Hi-Tea Trà</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=hiteadatuyet">Hi-Tea Đá Tuyết</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=traxanh-choco">Trà Xanh - Chocolate</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=traxanh">Trà Xanh Tây Bắc</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=chocolate">Chocolate</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=daxay">Thức uống đá xay</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=daxayfrosty">Đá xay Frosty</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=banh-snack">Bánh - Snack</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=banhman">Bánh mặn</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=banhngot">Bánh ngọt</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=banhpastry">Bánh Pastry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=tainha">Thưởng thức tại nhà</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=caphetainha">Cà Phê Tại Nhà</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=chaifresh0da">Chai Fresh Không Đá</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Chuyện nhà
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Coffeeholic</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="#">#chuyencaphe</a></li>
                                        <li> <a class="dropdown-subitem" href="#">#phacaphe</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Teaholic</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="#">#phatra</a></li>
                                        <li> <a class="dropdown-subitem" href="#">#cauchuyenvetra</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Blog</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="#">#inthemood</a></li>
                                        <li> <a class="dropdown-subitem" href="#">#Review</a></li>
                                        <li> <a class="dropdown-subitem" href="#">#HumanofTCH</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="#">Cảm hứng CloudFee</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="#">Cửa hàng</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="./register.html">Tuyển dụng</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div id="coffee-story">
            <div class="page-header">
                <div class="container">
                    <h1>Chuyện Nhà</h1>
                    <div class="page-content">
                        <span> The Coffee House sẽ là nơi mọi người xích lại gần nhau, đề cao giá trị kết nối con người và sẻ chia thân tình bên những tách cà phê, ly trà đượm hương, truyền cảm hứng về lối sống hiện đại.</span>
                    </div>
                    <ul class="page-tabs">
                        <li><a href="#" class="page-tab-item">Tất cả</a></li>
                        <li><a href="#" class="page-tab-item">Coffeeholic</a></li>
                        <li><a href="#" class="page-tab-item">Teaholic</a></li>
                        <li><a href="#" class="page-tab-item">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="blog-home" style="background-color: #fff; padding-bottom: 0;">
                <div class="container">
                    <div class="row">
                        <!-- Blog Coffeeholic -->
                        <div class="blog-home-blogtitle"><a href="">Coffeeholic</a></div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div  style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img
                                        src="../img/blog/thecoffeehouse_caphehighlight01_de40c0102a954c50a328f7befcdd82bd_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>01/11/2023</span>
                                    <h3><a href="">BẮT GẶP SÀI GÒN XƯA TRONG MÓN UỐNG HIỆN ĐẠI CỦA GIỚI TRẺ</a></h3>
                                    <p>Dẫu qua bao nhiêu lớp sóng thời gian, người ta vẫn có thể tìm lại những dấu ấn thăng
                                        trầm của một Sài Gòn xưa cũ. Trên những góc phố,...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img src="../img/blog/1200x630_0b0081d93ba6479b934e04e71cbfd102_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>30/10/2023</span>
                                    <h3><a href="">CHỈ CHỌN CÀ PHÊ MỖI SÁNG NHƯNG CŨNG KHIẾN CUỘC SỐNG CỦA BẠN THÊM THÚ VỊ,
                                            TẠI SAO KHÔNG?</a></h3>
                                    <p>Thực chất, bạn không nhất thiết phải làm gì to tát để tạo nên một ngày rực rỡ. Chỉ
                                        cần bắt đầu từ những việc nhỏ nhặt nhất, khi bạn...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img src="../img/blog/3__1__2b67342f4db64bb082944cf078afd910_grande (1).jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>12/02/2023</span>
                                    <h3><a href="">SIGNATURE - BIỂU TƯỢNG VĂN HOÁ CÀ PHÊ CỦA THE COFFEE HOUSE ĐÃ QUAY TRỞ
                                            LẠI</a></h3>
                                    <p>Mới đây, các "tín đồ" cà phê đang bàn tán xôn xao về SIGNATURE - Biểu tượng văn hóa
                                        cà phê của The Coffee House đã quay trở lại.Một lời...</p>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Teaholic -->
                        <div class="blog-home-blogtitle"><a href="">Teaholic</a></div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img
                                        src="../img/blog/an_banh_uong_nuoc_nhom_03_d499c0cab14746588fff6fe0dee678ad_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>19/09/2023</span>
                                    <h3><a href="">TRUNG THU NÀY, SAO BẠN KHÔNG TỰ CHO MÌNH "DỪNG MỘT CHÚT THÔI, THƯỞNG MỘT
                                            CHÚT TRÔI"?</a></h3>
                                    <p>Bạn có từng nghe: “Trung thu thôi mà, có gì đâu mà chơi”, hay “Trung thu càng ngày
                                        càng chán”...? Sự bận rộn đến mức “điên rồ” đã khiến chúng...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img
                                        src="../img/blog/cautoankeothom_thecoffeehouse_03_29cd435c9a574e1a867ac36f2c863bb6_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>16/01/2023</span>
                                    <h3><a href="">BỘ SƯU TẬP CẦU TOÀN KÈO THƠM: "VÍA" MAY MẮN KHÔNG THỂ BỎ LỠ TẾT NÀY</a>
                                    </h3>
                                    <p>Tết nay vẫn giống Tết xưa, không hề mai một nét văn hoá truyền thống mà còn thêm vào
                                        những hoạt động “xin vía” hiện đại, trẻ trung. Ví như...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img src="../img/blog/dscf0216_2890bcca44ae49aaaf843d5fa3db2fc6_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>16/08/2022</span>
                                    <h3><a href="">“KHUẤY ĐỂ THẤY TRĂNG" - KHUẤY LÊN NIỀM HẠNH PHÚC: TRẢI NGHIỆM KHÔNG THỂ
                                            BỎ LỠ MÙA TRUNG THU NÀY</a></h3>
                                    <p>Năm 2022 là năm đề cao sức khỏe tinh thần nên giới trẻ muốn tận hưởng một Trung thu
                                        với nhiều trải nghiệm mới mẻ, rôm rả cùng bạn bè...</p>
                                </div>
                            </div>
                        </div>
                        <!-- Blog -->
                        <div class="blog-home-blogtitle"><a href="">Blog</a></div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img src="../img/blog/post-tcbc_f_2e456821ebac42398b294f9356fe30a0_grande.jpg"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>09/05/2024</span>
                                    <h3><a href="">THE COFFEE HOUSE PHẢN HỒI VỀ SỰ CỐ VỠ KÍNH DO GIÔNG LỐC TẠI CỬA HÀNG THE
                                            COFFEE HOUSE THÁI HÀ, HÀ NỘI</a></h3>
                                    <p>Vào tối ngày 20 tháng 04 năm 2024, Hà Nội có xuất hiện giông lốc kèm mưa đá, gây vỡ
                                        kính tại toà nhà Việt Tower - 01 Thái Hà,...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img src="../img/blog/zalo_01c6f0bfb0854951a16a92b52457ca56_grande.jpg" alt=""
                                        class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>23/02/2024</span>
                                    <h3><a href="">“XUÂN LÊN ĐI!”: LỜI CHÚC Ý NGHĨA CHO NĂM THÌN ĐIỀU CHI CŨNG NHƯ Ý</a>
                                    </h3>
                                    <p>Mùa xuân đã rộn ràng khắp nơi, mang theo nguồn sống dào dạt cùng mọi ước nguyện may
                                        mắn. Bạn cầu mong gì cho mình và người thân trong những...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div style="min-height: 0; margin-bottom: 40px;" class="blog-item d-flex">
                               <a class="blog-item-img" style="padding-left: 0 !important; padding-right: 0 !important; width: 50%; height: 300px;    margin-right: 40px" href=""><img
                                        src="../img/blog/thecoffeehouse_timesquare_02_b87f7576b02d4d82ba5b7ed4e40b6b00_grande.png"
                                        alt="" class="blog-img"></a>
                                <div style="padding-top: 0; width: 50%;" class="blog-info ">
                                    <span>21/11/2023</span>
                                    <h3><a href="">LY CÀ PHÊ SỮA ĐÁ VIỆT NAM XUẤT HIỆN Ở QUẢNG TRƯỜNG THỜI ĐẠI NEW YORK</a>
                                    </h3>
                                    <p>Ấn tượng và tự hào, hình ảnh Việt Nam tiếp tục được lên sóng tại Quảng trường Thời
                                        Đại (New York) với ly cà phê sữa đá quen thuộc, đi...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="pagination" style="padding-top: 40px; padding-bottom: 40px; text-align: center;">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </section>
        </div>
        <div class="contact">
            <div id="zalo-vr" class="button-contact">
                <div class="phone-vr">
                    <div class="phone-vr-circle-fill"></div>
                    <div class="phone-vr-img-circle">
                        <a target="_blank" href="https://zalo.me/0937027877">				
                            <img alt="Zalo" src="../img/zalo.png">
                        </a>
                    </div>
                </div>
                </div>
                <div id="phone-vr" class="button-contact">
					<div class="phone-vr">
						<div class="phone-vr-circle-fill"></div>
						<div class="phone-vr-img-circle">
							<a href="tel:0937027877">				
								<img alt="Phone" src="../img/phone.png">
							</a>
						</div>
					</div>
					</div>
        </div>
        <button id="scrollTopButton">
            <i class="fa-solid fa-angles-up"></i>  
        </button>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 footer-col">
                    <p class="footer-title">Giới thiệu</p>
                    <ul class="footer-list">
                        <li><a href="">Về Chúng Tôi</a></li>
                        <li><a href="">Sản phẩm</a></li>
                        <li><a href="">Khuyển mãi</a></li>
                        <li><a href="">Chuyện cà phê</a></li>
                        <li><a href="">Cửa Hàng</a></li>
                        <li><a href="">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <p class="footer-title">Điều khoản</p>
                    <ul class="footer-list">
                        <li><a href="">Điều khoản sử dụng</a></li>
                        <li><a href="">Chính sách bảo mật thông tin</a></li>
                        <li><a href="">Hướng dẫn xuất hóa đơn GTGT</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-hotline">
                        <p>
                            <img src="../img/phone_0a42df1c753c4fa0910108daa73fe2ef.png" alt="">
                            Đặt hàng: 1800 6936
                        </p>
                        <p>
                            <img src="../img/map-pin-2-line_575ccb91b6f94a308d1bd507d4ae72a7.png" alt="">
                            Liên hệ
                        </p>
                    </div>
                    <div class="footer-address">
                        <p>Tầng 3-4 Hub Building <br>
                            195/10E Điện Biên Phủ, P.15,<br>
                            Q.Bình Thạnh, TP.Hồ Chí Minh
                        </p>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <div class="fanpage">
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/The.Coffee.House.2014/">
                                <i class="fa-brands fa-square-facebook" style="color: #1d90e7;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/thecoffeehousevn/">
                                <img src="../img/instagram.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../script/main.js"></script>
</body>
</html>