<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="short icon" type="image" href="./img/thecoffeehouse_logo.png">
    <title>The Coffee House</title>
    <style>
        .navbar {
            background-color: white !important;
        }
    </style>
</head>

<body>
    <div class="logo-overlay">
        <div class="logo-container">
            <img src="../img/coffee_logo.gif" alt="Logo" class="custom-logo">
        </div>
    </div>
    <script src="../script/load.js"></script>
    <div class="top-bar">
        <div class="top-bar-info">
            <div>
                <a href="">
                    <img src="../img/location.png" alt="">
                    <span>133 Cửa hàng khắp cả nước</span>
                </a>
            </div>
            <div>
                <a href="">
                    <img src="../img/phone_order.png" alt="">
                    <span>Đặt hàng: 1800.6936</span>
                </a>
            </div>
        </div>
    </div>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="./Home.html"><img src="../img/thecoffeehouse_main_logo.png" width="200px"
                        height="35px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" aria-current="page" href="">Cà
                                    phê</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="">Trà</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="menu">
                                <div class="underline-container">
                                    <a class="nav-link dropdown-toggle fw-bold underline-hover"
                                        href="./collection.html?category=all" id="navbarDropdown" role="button"
                                        aria-expanded="false">
                                        Menu
                                    </a>
                                    <div class="underline"></div>
                                </div>
                                <div class="custom-dropdown">
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=all">Tất
                                            Cả</a></div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=caphe">Cà
                                            Phê</a>
                                        <ul>
                                            <li><a href="./collection.html?category=caphehighlight">Cà Phê
                                                    Highlight</a></li>
                                            <li><a href="./collection.html?category=caphevn">Cà Phê Việt Nam</a>
                                            </li>
                                            <li><a href="./collection.html?category=caphemay">Cà Phê Máy</a></li>
                                            <li><a href="./collection.html?category=coldbrew">Cold Brew</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=tra">Trà</a>
                                        <ul>
                                            <li><a href="./collection.html?category=tratraicay">Trà trái cây</a></li>
                                            <li><a href="./collection.html?category=macchiato">Trà sữa Macchiato</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=cloud">Cloud</a>
                                        <ul>
                                            <li><a href="./collection.html?category=cloudfee">CloudFee</a></li>
                                            <li><a href="./collection.html?category=cloudteamochi">CloudTea Mochi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=hitea">Hi-Tea
                                            Healthy</a>
                                        <ul>
                                            <li><a href="./collection.html?category=hiteatra">Hi-Tea Trà</a></li>
                                            <li><a href="./collection.html?category=hiteadatuyet">Hi-Tea Đá Tuyết</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=traxanh-choco">Trà Xanh - Chocolate</a>
                                        <ul>
                                            <li><a href="./collection.html?category=traxanh">Trà Xanh Tây Bắc</a></li>
                                            <li><a href="./collection.html?category=chocolate">Chocolate</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=daxay">Thức
                                            uống đá xay</a>
                                        <ul>
                                            <li><a href="./collection.html?category=daxayfrosty">Đá xay Frosty</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a
                                            href="./collection.html?category=banh-snack">Bánh & Snack</a>
                                        <ul>
                                            <li><a href="./collection.html?category=banhman">Bánh mặn</a></li>
                                            <li><a href="./collection.html?category=banhngot">Bánh ngọt</a></li>
                                            <li><a href="">Snack</a></li>
                                            <li><a href="./collection.html?category=banhpastry">Bánh Pastry</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="./collection.html?category=tainha">Thưởng
                                            Thức Tại Nhà</a>
                                        <ul>
                                            <li><a href="./collection.html?category=caphetainha">Cà phê tại nhà</a></li>
                                            <li><a href="./collection.html?category=chaifresh0da">Chai Fresh Không
                                                    Đá</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <div class="menu">
                                <div class="underline-container">
                                    <a class="nav-link dropdown-toggle fw-bold underline-hover" href="./Blog.html"
                                        id="navbarDropdown" role="button" aria-expanded="false">
                                        Chuyện Nhà
                                    </a>
                                    <div class="underline"></div>
                                </div>
                                <div class="custom-dropdown menu-blog">
                                    <div class="custom-dropdown-item"><a href="">Coffeeholic</a>
                                        <ul>
                                            <li><a href="">#chuyencaphe</a></li>
                                            <li><a href="">#phacaphe</a></li>

                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="">Teaholic</a>
                                        <ul>
                                            <li><a href="">#phatra</a></li>
                                            <li><a href="">#cauchuyenvetra</a></li>
                                        </ul>
                                    </div>
                                    <div class="custom-dropdown-item"><a href="">Blog</a>
                                        <ul>
                                            <li><a href="">#inthemood</a></li>
                                            <li><a href="">#Review</a></li>
                                            <li><a href="">#HumanofTCH</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./Collection.html?category=all">Tất Cả</a></li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=caphe">Cà Phê</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=caphehighlight">Cà Phê Highlight</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=caphevn">Cà Phê Việt Nam</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=caphemay">Cà Phê Máy</a></li>
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=coldbrew">Cold Brew</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=tra">Trà</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=tratraicay">Trà trái cây</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=macchiato">Macchiato</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=cloud">Cloud</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=cloudfee">CloudFee</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=cloudteamochi">CloudTea Mochi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=hitea">Hi-Tea Healthy</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=hiteatra">Hi-Tea Trà</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=hiteadatuyet">Hi-Tea Đá Tuyết</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=traxanh-choco">Trà Xanh - Chocolate</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=traxanh">Trà Xanh Tây Bắc</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=chocolate">Chocolate</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=daxay">Thức uống đá xay</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=daxayfrosty">Đá xay Frosty</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=banh-snack">Bánh - Snack</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=banhman">Bánh mặn</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=banhngot">Bánh ngọt</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=banhpastry">Bánh Pastry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./Collection.html?category=tainha">Thưởng thức tại nhà</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="./Collection.html?category=caphetainha">Cà Phê Tại Nhà</a></li>
                                        <li> <a class="dropdown-subitem" href="./Collection.html?category=chaifresh0da">Chai Fresh Không Đá</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold" href="" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Chuyện nhà
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="">Coffeeholic</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="">#chuyencaphe</a></li>
                                        <li> <a class="dropdown-subitem" href="">#phacaphe</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Teaholic</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="">#phatra</a></li>
                                        <li> <a class="dropdown-subitem" href="">#cauchuyenvetra</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="">Blog</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-subitem" href="">#inthemood</a></li>
                                        <li> <a class="dropdown-subitem" href="">#Review</a></li>
                                        <li> <a class="dropdown-subitem" href="">#HumanofTCH</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="">Cảm hứng CloudFee</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="">Cửa hàng</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="underline-container">
                                <a class="nav-link fw-bold underline-hover" href="./register.html">Tuyển dụng</a>
                                <div class="underline"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div class="home collection">
            <div class="container main">
                <div class="row">
                    <!-- Sidebar Menu -->
                    <div class="col-xxl-3 col-xl-3 col-lg-3 fchild">
                        <div class="sidebar d-none  d-lg-block">
                            <ul>
                                <li><a id="category-all" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Tất Cả</a></li>
                                <li>
                                    <a id="category-caphe" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Cà Phê</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-caphehighlight" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Cà Phê
                                                Highlight</a></li>
                                        <li><a id="category-caphevn" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Cà Phê
                                                Việt
                                                Nam</a></li>
                                        <li><a id="category-caphemay" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Cà Phê
                                                Máy</a></li>
                                        <li><a id="category-coldbrew" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Cold
                                                Brew</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-tra" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Trà</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-tratraicay" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Trà
                                                Trái Cây</a></li>
                                        <li><a id="category-macchiato" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Trà
                                                sữa
                                                Macchiato</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-cloud" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Cloud</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-cloudfee" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">CloudFee</a></li>
                                        <li><a id="category-cloudteamochi" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">CloudTea
                                                Mochi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-hitea" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Hi-Tea Healthy</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-hiteatra" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Hi-Tea
                                                Trà</a></li>
                                        <li><a id="category-hiteadatuyet" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Hi-Tea Đá
                                                Tuyết</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-traxanh-choco" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Trà Xanh -
                                        Chocolate</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-traxanh" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Trà Xanh
                                                Tây Bắc</a></li>
                                        <li><a id="category-chocolate" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Chocolate</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-daxay" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Thức uống đá xay</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-daxayfrosty" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Đá xay Frosty</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-banh-snack" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Bánh & Snack</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-banhman" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Bánh
                                                mặn</a></li>
                                        <li><a id="category-banhngot" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Bánh
                                                ngọt</a></li>
                                        <li><a id="category-banhpastry" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Bánh Pastry</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="category-tainha" class="sidebar-item" href="javascript:void(0);"
                                        onclick="showActive(this.id.replace('category-', ''))">Thưởng Thức Tại Nhà</a>
                                    <ul class="sidebar-menu" style="display: none;">
                                        <li><a id="category-caphetainha" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Cà phê tại
                                                nhà</a></li>
                                        <li><a id="category-chaifresh0da" class="sidebar-menu-item"
                                                href="javascript:void(0);"
                                                onclick="showActive(this.id.replace('category-', ''))">Chai Fresh Không
                                                Đá</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product Side -->
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12 border-right schild">
                        <div class="menu-option">
                            <select class="form-select" aria-label="Default select example">
                                <option class="menu-small" value="all">Tất Cả</option>
                                <option class="menu-small" value="caphe">Cà Phê</option>
                                <option class="menu-small" value="tra">Trà</option>
                                <option class="menu-small" value="cloud">Cloud</option>
                                <option class="menu-small" value="hitea">Hitea - Healthy</option>
                                <option class="menu-small" value="traxanh-choco">Trà Xanh - Chocolate</option>
                                <option class="menu-small" value="daxay">Đá xay</option>
                                <option class="menu-small" value="banh-snack">Bánh - Snack</option>
                                <option class="menu-small" value="tainha">Thưởng thức tại nhà</option>
                              </select>
                        </div>
                        <!-- Cà Phê -->
                        <div id="all">
                        <div id="caphe" class="menu-side">
                            <!-- danh mục cà phê Highlight -->
                            <div id="caphehighlight" class="category row" parent-id="caphe">
                                <a href="./collection.html?category=caphehighlight" class="category-info">Cà Phê Highlight</a>
                            </div>
                            <!-- danh mục cà phê việt nam -->
                            <div id="caphevn" class="category row" parent-id="caphe">
                                <a href="./collection.html?category=caphevn" class="category-info">Cà Phê Việt Nam</a>
                            </div>
                            <!-- danh mục cà phê máy -->
                            <div id="caphemay" class="category row" parent-id="caphe">
                                <a href="./collection.html?category=caphemay" class="category-info">Cà Phê Máy</a>
                            </div>
                            <!-- danh mục Cold Brew -->
                            <div id="coldbrew" class="category row" parent-id="caphe">
                                <a href="./collection.html?category=coldbrew" class="category-info">Cold Brew</a>
                            </div>
                        </div>
                        <!-- Danh mục Trà -->
                        <div id="tra" class="menu-side">
                            <!-- danh mục Trà Trái Cây -->
                            <div id="tratraicay" class="category row" parent-id="tra">
                                <a href="./collection.html?category=tratraicay" class="category-info">Trà Trái Cây</a>
                            </div>
                            <!-- danh mục Trà Sữa Macchiato -->
                            <div id="macchiato" class="category row" parent-id="tra">
                                <a href="./collection.html?category=macchiato" class="category-info">Trà sữa Macchiato</a>
                            </div>
                        </div>
                        <!-- Cloud -->
                        <div id="cloud" class="menu-side">
                            <!-- danh mục CloudFee -->
                            <div id="cloudfee" class="category row" parent-id="cloud">
                                <a href="./collection.html?category=cloudfee" class="category-info">CloudFee</a>
                            </div>
                            <!-- danh mục CloudTea Mochi -->
                            <div id="cloudteamochi" class="category row" parent-id="cloud">
                                <a href="./collection.html?category=cloudteamochi" class="category-info">CloudTea Mochi</a>
                            </div>
                        </div>
                        <!-- Hi-Tea -->
                        <div id="hitea" class="menu-side">
                            <!-- danh mục Hi Tea Trà -->
                            <div id="hiteatra" class="category row" parent-id="hitea">
                                <a href="./collection.html?category=hiteatra" class="category-info">Hi-Tea Trà</a>
                            </div>
                            <!-- danh mục Hitea đá tuyết -->
                            <div id="hiteadatuyet" class="category row" parent-id="hitea">
                                <a href="./collection.html?category=cloudteamochi" class="category-info">Hi-Tea Đá Tuyết</a>
                            </div>
                        </div>
                        <!-- Trà xanh - Chocolate -->
                        <div id="traxanh-choco" class="menu-side">
                            <!-- danh mục Trà xanh Tây Bắc -->
                            <div id="traxanh" class="category row" parent-id="traxanh-choco">
                                <a href="./collection.html?category=cloudfee" class="category-info">Trà Xanh Tây Bắc</a>
                            </div>
                            <!-- danh mục Chocolate -->
                            <div id="chocolate" class="category row" parent-id="traxanh-choco">
                                <a href="./collection.html?category=cloudteamochi" class="category-info">Chocolate</a>
                            </div>
                        </div>
                        <!-- Thức uống đá xay -->
                        <div id="daxay" class="menu-side">
                            <!-- danh mục Bánh mặn -->
                            <div id="daxayfrosty" class="category row" parent-id="daxay">
                                <a href="./collection.html?category=daxay" class="category-info">Đá xay Frosty</a>
                            </div>
                        </div>
                        <!-- Bánh - Snack -->
                        <div id="banh-snack" class="menu-side">
                            <!-- danh mục Bánh mặn -->
                            <div id="banhman" class="category row" parent-id="banh-snack">
                                <a href="./collection.html?category=banhman" class="category-info">Bánh mặn</a>
                            </div>
                            <!-- danh mục Bánh Ngọt -->
                            <div id="banhngot" class="category row" parent-id="banh-snack">
                                <a href="./collection.html?category=banhngot" class="category-info">Bánh ngọt</a>
                            </div>
                            <!-- danh mục Bánh Pastry -->
                            <div id="banhpastry" class="category row" parent-id="banh-snack">
                                <a href="./collection.html?category=banhpastry" class="category-info">Bánh Pastry</a>
                            </div>
                        </div>
                        <!-- Thưởng thức tại nhà -->
                        <div id="tainha" class="menu-side">
                            <!-- danh mục cà phê tại nhà -->
                            <div id="caphetainha" class="category row" parent-id="tainha">
                                <a href="./collection.html?category=caphetainha" class="category-info">Cà phê tại nhà</a>
                            </div>
                            <!-- danh mục chai fresh không đá -->
                            <div id="chaifresh0da" class="category row" parent-id="tainha">
                                <a href="./collection.html?category=chaifresh0da" class="category-info">Chai Fresh Không Đá</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div id="zalo-vr" class="button-contact">
                <div class="phone-vr">
                    <div class="phone-vr-circle-fill"></div>
                    <div class="phone-vr-img-circle">
                        <a target="_blank" href="https://zalo.me/0937027877">				
                            <img alt="Zalo" src="../img/zalo.png">
                        </a>
                    </div>
                </div>
                </div>
                <div id="phone-vr" class="button-contact">
					<div class="phone-vr">
						<div class="phone-vr-circle-fill"></div>
						<div class="phone-vr-img-circle">
							<a href="tel:0937027877">				
								<img alt="Phone" src="../img/phone.png">
							</a>
						</div>
					</div>
					</div>
        </div>
        <button id="scrollTopButton" title="Go to top">
            <i class="fa-solid fa-angles-up fa-bounce"></i>
        </button>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 footer-col">
                    <p class="footer-title">Giới thiệu</p>
                    <ul class="footer-list">
                        <li><a href="">Về Chúng Tôi</a></li>
                        <li><a href="">Sản phẩm</a></li>
                        <li><a href="">Khuyển mãi</a></li>
                        <li><a href="">Chuyện cà phê</a></li>
                        <li><a href="">Cửa Hàng</a></li>
                        <li><a href="">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <p class="footer-title">
                        Liên hệ
                    </p>
                    <ul class="footer-list">
                        <li><a href="">Địa chỉ: 180 Cao Lỗ, Phường 4, Quận 8, Tp. Hồ Chí Minh</a></li>
                        <li><a href="">Điện thoại: (028) 38 505 520</a></li>
                        <li><a href="">Thời gian làm việc: 7h-17h từ T2-T6</a></li>
                        <li><a href="">Follow Us</a></li>
                        <ul class="social">
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-square-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-square-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-square-x-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <p class="footer-title">Điều khoản</p>
                    <ul class="footer-list">
                        <li><a href="">Điều khoản sử dụng</a></li>
                        <li><a href="">Chính sách bảo mật thông tin</a></li>
                        <li><a href="">Hướng dẫn xuất hóa đơn GTGT</a></li>
                    </ul>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
                    <p class="footer-title">
                        Phương thức thanh toán
                    </p>
                    <img src="../img/payment.png" alt="">
                    <p style="padding-top: 16px;" class="footer-title">
                        Tải ứng dụng ngay
                    </p>
                    <div class="app d-flex gap-2">
                        <a href="" style="width: 50%;"><img style="width: 100%;" src="../img/apple.jpg" alt=""></a>
                        <a href="" style="width: 50%;"><img style="width: 100%;" src="../img/ggplay.jpg" alt=""></a>
                    </div>
                </div>
                <div class="copyright w-100">
                    <p>Copyright © 2024 Phan The Quang DH52108750 D21_TH07</p>
                  </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="../script/dataSource.js"></script>
        <script src="../script/loadData.js"></script>
        <script src="../script/main.js"></script>
</body>
</html>