@media screen and (max-width:1280px) {
    .home-carousel {
    
    }

    .custom-dropdown {
        padding: 30px 10px;
    }

    .menu-blog {
        padding: 30px 200px !important;
    }
}

@media screen and (max-width:1200px) {

    .nav-item {
        padding: 0 10px !important;
    }
}

@media screen and (max-width:992px) {
    .menu {
        display: none !important;
    }
    .dropdown{
        display: block !important;
    }
    .border-right::before {
        display: none;
    }

    .row>.fchild {
        width: 0% !important;
    }

    .row>.schild {
        width: 100% !important;
        padding-left: 12px !important;
    }
    .blog-item-img
    {
        height: 200px !important;
    }
}
.desktop
{
    display: block;
}
.mobile
{
    display: none;
}
#text-area
{
    width: 100%; 
}
@media screen and (max-width:768px) {

    .desktop
    {
        display: none;
    }
    .mobile
    {
        display: block;
    }
    .header-carousel {
        transform: translateY(-45px);
    }
    .navbar 
    {
        padding-bottom: 0 !important;
    }
    .blog-item 
    {
        flex-direction: column !important;
        margin-bottom: 40px !important;
    }
    .blog-item-img
    {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .blog-info
    {
        width: 100% !important;
    }
}